


.formControl.error input {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}

.formControl input[type=checkbox] {
    display: inline-block;
}

.newPostText textarea {
    border: none;
    border-bottom: 1px solid #666;
    width: 300px;
    height: 40px;
    margin: 0;
}

.formControl.error textarea {
    border-bottom: 1px solid red;
}

.newPostText {
    margin: 0 0 30px 0;
}
