.dialogs {
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin-bottom: 30px;
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
}

.dialogsItems {
    width: 300px;
}

.dialogPreview {
    display: flex;
    cursor: pointer;
    padding-left: 15px;
}

.dialogPreview:nth-child(1) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.dialogPreview:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dialogPreview:hover {
    background-color: #f9fafb;
}

.dialogPreview:not(:last-child) {
    border-bottom: 1px solid #e5e7eb;
}

.dialogName {
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 7px;
    display: block;
}

.dialogImg {
    padding: 10px 14px 10px 0;
}

.avatar {
    max-width: 50px;
    border-radius: 50%;
}

.dialogContent {
    padding: 10px 0;
}

.addMessage {
    padding: 20px;
}
