.nav {
    grid-area: n;
    background-color: #f9fafb;
    padding: 30px;
    border-right: 1px solid #e5e7eb;
}

.nav a {
    text-decoration: none;
    padding-bottom: 20px;
    display: block;
    color: #333;
}

.nav a.active {
    color: #2a41e8;
}