.paginator {
    margin: 20px 0;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 0 1.25rem 0 rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
}

.selectedPage {
     font-weight: bold;
     padding: 0 10px;
}

.pagesNumbers {
    margin: 0 10px;
}


.pageNumber {
    padding: 0 10px;
    cursor: pointer;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}