.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n c";

  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  background-color: #f9fafb;
  min-height: 100vh;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #f9fafb;
  max-width: 1000px;
  width: 100%;
  padding: 30px 10px;
  margin-left: auto;
  margin-right: auto;
}