body {
    margin: 0;
    font-family: Gilroy-Regular, sans-serif;
    color: #333
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnDefault {
  font-family: Gilroy-Medium, sans-serif;
  background-color: #e5edff;
  color: #2563eb;
  padding: 6px 15px;
  line-height: 22px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url('/src/assets/fonts/Gilroy-Regular.woff') format('woff'),
    local('Gilroy-Regular'), url('/src/assets/fonts/Gilroy-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url('/src/assets/fonts/Gilroy-Medium.woff') format('woff'),
    local('Gilroy-Medium'), url('/src/assets/fonts/Gilroy-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: local('Gilroy-Semibold'), url('/src/assets/fonts/Gilroy-Semibold.woff') format('woff'),
    local('Gilroy-Semibold'), url('/src/assets/fonts/Gilroy-Semibold.ttf') format('ttf');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url('/src/assets/fonts/Gilroy-Bold.woff') format('woff'),
    local('Gilroy-Bold'), url('/src/assets/fonts/Gilroy-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat-SemiBold'), url('/src/assets/fonts/Montserrat-SemiBold.woff') format('woff'),
    local('Montserrat-SemiBold'), url('/src/assets/fonts/Montserrat-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url('/src/assets/fonts/Montserrat-Regular.woff') format('woff'),
    local('Montserrat-Regular'), url('/src/assets/fonts/Montserrat-Regular.ttf') format('ttf');
}

